---
// Style Imports
import '../styles/global.css';
// Component Imports
import Head from '../components/head.astro';
import AnnaHsu from '../components/annahsu.astro';

const title = 'Anna Hsu';
const description = 'I\'m Anna Hsu (she/her), an pianist, flautist, and composer from Northern Virginia.';
const permalink = 'https://music.annahsu.dev';
---
<html lang="en">
<head>
	<Head {title} {description} {permalink} />

	<style>
		main {
			display: flex;
			flex-direction: column;
			justify-content: center;

			max-width: 700px;
		}
	</style>
</head>
<body>
	<main>
		<AnnaHsu />
		<p>Anna Hsu is a student at the <a href="https://usc.edu">University of Southern California</a>. She studied classical piano for 14 years, with the last eight years
		under <a href="https://soundsofnote.com">Robert Bond Kelley</a>. As a pianist, Anna has won the WMTA Raissa Tselentis Award of Excellence	and received honors for the
		NVMTA Sonata Festival. As a composer, she has placed second at the NVMTA Composition Competition and third at the WMTA Young Composers Competition.</p>
		<p>Regardless of her performance medium, Anna has shared music in her community with seniors across the DC Metro Area through the
		<a href="https://tacyfoundation.org">Tacy Foundation</a>, a non-profit dedicated to sharing the healing power of music. You can also find Anna's performances on her
		<a href="https://l.annahsu.dev/yt">YouTube channel</a> and <a href="https://instagram.com/annahsupiano">Instagram</a>.</p>
		<p>In her (rare) spare time, you can find Anna writing websites, running in her neighborhood, and building mechanical keyboards. To find out more about Anna, visit her
		<a href="https://annahsu.dev">main website</a> or reach out via <a href="mailto:music@annahsu.dev">email</a>.</p>
	</main>
</body>
</html>
